<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>form for developer</title>
</head>
<body>
	<div align="center">
<form action="" method="">
	<table border="1">
		<caption>please fill this form</caption>
	    <tr>
			<td>
				<label>what is your good name?</label>
			</td>
			<td>
				<input type="text" name="last-name">
			</td>
		</tr>


		<tr>
			<td>
				<label>gender</label>
			</td>
			<td>
				<input type="radio" name="gender" value="male">male
				<input type="radio" name="gender" value="female">female
			</td>
		</tr>

		<tr>
			
			<td colspan="2" align="center">
				<label>how many years of engineering work experience do you have?</label>
				
			</td>

		</tr>

		<tr>
			<td>
				<label>years of experience</label>
			</td>
			<td>
				<input type="text" id="years" name="years" placeholder="Enter no.of years">
			</td>
		</tr>

		<tr>
			<td>
				<label>how's your english?</label>
			</td>
			<td>
				<input type="radio" name="speaking" value="Average">Average
				<input type="radio" name="speaking" value="Good">Good
				<input type="radio" name="speaking" value="Great">Great
			</td>
		</tr>
        
        <tr>
			<td>
				<label>What's is your educational background?</label>
			</td>
			<td>
				<textarea cols="48" rows="10" placeholder="educational background"></textarea>
			</td>
		</tr>
         

         <tr>
			<td>
				<label>What role are you most experience in?</label>
			</td>
			<td>
				<input type="checkbox" name="web frontend" value="web frontend">web frontend
				<input type="checkbox" name="web backend" value="web backend">web backend
				<input type="checkbox" name="full stack(BE-heavy)" value="full stack(BE-heavy)">full stack(BE-heavy)<br>
				<input type="checkbox" name="full stack(FE-heavy" value="full stack(FE-heavy">full stack(FE-heavy
				<input type="checkbox" name="Mobile" value="Mobile">Mobile
				<input type="checkbox" name="Machine learning" value="Machine learning">Machine learning<br>
				<input type="checkbox" name="java-script" value="java-script">java-script
				<input type="checkbox" name="java" value="java">java
				<input type="checkbox" name="c++" value="c++">c++<br>
			</td>
		</tr>
         
        <tr>
			<td>
				<label>explain your skills.</label>
			</td>
			<td>
				<textarea cols="48" rows="10" placeholder="educational background"></textarea>
			</td>
		</tr>


		<tr>
			<td>
				<label>upload your Resume</label>
			</td>
			<td>
				<input type="file" id="myFile" name="filename">
			</td>
		</tr>


		<tr>
			<td>
				<label>enter phone</label>
			</td>
			<td>
				<input type="phone" name="phone">
			</td>
		</tr>
		<tr>
			<td>
				<label>enter email</label>
			</td>
			<td>
				<input type="email" name="email">
			</td>
		</tr>


		<tr>
			
			<td colspan="2" align="center">
				<input type="submit" name="save" value="submit">
				<input type="submit" name="save" value="reset">
			</td>
		</tr>
	</table>
</form>
</div>
</body>
</html>